<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CreatePerson</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="node_modules/vuelidate/dist/vuelidate.min.js"></script>
    <script src="node_modules/vuelidate/dist/validators.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <h2 class="about-us">{{aboutUs}}</h2>
      <form class="form" @submit.prevent="submit">
        <input class="form__item"
          v-model="$v.lastName.$model"
          :class="status($v.lastName)"
          placeholder="Фамилия*"
        />
        <input class="form__item"
          v-model="$v.firstName.$model"
          :class="status($v.firstName)"
          placeholder="Имя*"
        />
        <input class="form__item" placeholder="Отчество(если есть)" />
        <input class="form__item"  type="date" v-model="$v.date.$model" :class="status($v.date)"/>
        <div class="phone-block form__item">
          <span>+7</span>
          <input
            type="tel"
            v-model="phone"
            :class="status($v.phone)"
            name="phone"
            id="phone"
            placeholder="(555) 555-5555"
            autocomplete="tel"
            maxlength="14"
            class="form-control"
            v-phone
            pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}"
          />
        </div>
        <div class="gender form__item">
          <input type="radio" id="one" value="Один" v-model="gender" />
          <label for="one">М</label>
          <input type="radio" id="two" value="Два" v-model="gender" />
          <label for="two">Ж</label>
        </div>
        <div class="group-person form__item">
          <select class="person" v-model="person" multiple size="3">
            <option>VIP</option>
            <option>Проблемные</option>
            <option>ОМС</option>
          </select>
          <select v-model="doctor">
            <option disabled value="">Лечащий врач</option>
            <option>Иванов</option>
            <option>Чернышова</option>
            <option>Захаров</option>
          </select>
        </div>
        <div class="sms-block form__item">
          <span class="sms-block__title">Не отправлять смс - </span>
          <input type="checkbox">
        </div>
        <h2 class="about-us">{{adressUs}}</h2>
        <div class="adress-block">
          <div class="adress form__item">
            <input class="adress-block__item" placeholder="Индекс" v-model="$v.index.$model" :class="status($v.index)"/>
            <input class="adress-block__item" placeholder="Страна"/>
          </div>
          <input class="adress-block__item form__item" placeholder="Облась"/>
          <input class="adress-block__item form__item" placeholder="Город*" v-model="$v.city.$model" :class="status($v.city)"/>
          <div class="adress form__item">
            <input class="adress-block__item" placeholder="Улица"/>
            <input class="adress-block__item" placeholder="Дом" v-model="$v.house.$model" :class="status($v.house)"/>
          </div>
        </div>
        <h2 class="about-us">{{passportUs}}</h2>
        <div class="passport-block">
          <select v-model="$v.passport.$model" class="form__item" :class="status($v.passport)">
            <option disabled value="">Документ</option>
            <option value="passport">Паспорт</option>
            <option value="passport">Свидетельство о рождении</option>
            <option value="passport">Вод. Удостоверение</option>
          </select>
          <div class="passport form__item">
            <input class="passport-block__item" v-model="$v.series.$model" :class="status($v.series)" maxlength="4"placeholder="Серия"/>
            <input class="passport-block__item" v-model="$v.number.$model" :class="status($v.number)" maxlength="6"placeholder="Номер"/>
          </div>
          <input placeholder="Кем выдан" class="form__item" />
          <div class="passport-date form__item">
            <span>Дата выдачи</span>
            <input type="date" v-model="$v.passportDate.$model" :class="status($v.passportDate)" />
          </div>
        </div>
        <button class="btn" type="submit" :disabled="submitStatus === 'PENDING'">
          Регистрация
        </button>
        <p class="typo__p" v-if="submitStatus === 'OK'">
          Thanks for your submission!
        </p>
        <p class="typo__p" v-if="submitStatus === 'ERROR'">
          Please fill the form correctly.
        </p>
        <p class="typo__p" v-if="submitStatus === 'PENDING'">Sending...</p>
      </form>
    </div>

    <script>
      Vue.use(window.vuelidate.default);
      const { required, minLength, maxLength, numeric, alpha } = window.validators;
      Vue.directive("phone", {
        bind(el) {
          el.oninput = function (e) {
            if (!e.isTrusted) {
              return;
            }

            let x = this.value
              .replace(/\D/g, "")
              .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            this.value = !x[2]
              ? x[1]
              : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
            el.dispatchEvent(new Event("input"));
          };
        },
      });
      new Vue({
        el: "#app",
        data: {
          lastName: "",
          firstName: "",
          phone: "",
          gender: "",
          person: "",
          doctor: "",
          index: "",
          city: "",
          house: "",
          date: "",
          phone: "",
          passport: "",
          series: "",
          number: "",
          passportDate: "",
          aboutUs: "Контактные данные",
          adressUs: "Адрес",
          passportUs: "Паспорт",
          submitStatus: null,
        },
        validations: {
          lastName: {
            required,
            minLength: minLength(2),
          },
          firstName: {
            required,
            minLength: minLength(2),
          },
          city: {
            required,
            alpha
          },
          index:{
            numeric,
            minLength: minLength(6),
            maxLength: maxLength(6)
          },
          house:{
            numeric
          },
          date: {
            required
          },
          phone:{
            required,
            minLength: minLength(14)
          },
          passport:{
            required
          },
          series:{
            numeric,
            minLength: minLength(4),
            maxLength: maxLength(4)
          },
          number:{
            numeric,
            minLength: minLength(6),
            maxLength: maxLength(6)
          },
          passportDate:{
            required
          }
        },
        methods: {
          status(validation) {
            return {
              error: validation.$error,
              dirty: validation.$dirty,
            };
          },
          submit() {
            this.$v.$touch();
            if (this.$v.$invalid) {
              this.submitStatus = "ERROR";
            } else {
              // do your submit logic here
              this.submitStatus = "PENDING";
              setTimeout(() => {
                this.submitStatus = "OK";
              }, 500);
            }
          },
        },
      });
    </script>
  </body>
</html>
